*

!.gitignore

!.github/
!.github/**/
!background_scripts/
!background_scripts/**/
!build_scripts/
!build_scripts/**/
!content_scripts/
!content_scripts/**/
!icons/
!icons/**/
!lib/
!lib/**/
!pages/
!pages/**/
!resources/
!resources/**/
!test_harnesses/
!test_harnesses/**/
!tests/
!tests/**/
!types/
!types/**/

!CONTRIBUTING.md
!MIT-LICENSE.txt
!README.md
!deno.json
!deno.lock
!manifest.json
!.github/ISSUE_TEMPLATE/bug_report.md
!.github/pull_request_template.md
!.github/workflows/*.yml
!resources/iTerm2-Color-Schemes.LICENSE
!resources/phosphor-icons.LICENSE
!resources/tlds.txt

!*.css
!*.html
!*.json
!*.lock
!*.png
!*.ts

!justfile
