#hud-container {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--suda-foreground-color);
  color: var(--suda-foreground-text-color);
  text-align: left;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid var(--gruvbox-bg-2);
  z-index: 2147483647;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#search-area {
  display: block;
  padding: 0;
  color: var(--suda-foreground-text-color);
  border-radius: 4px 4px 0 0;
}

#hud {
  align-items: center;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  margin-bottom: 0;
  padding: 0 12px;
  border-radius: 0;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  line-height: 20px;
  color: var(--gruvbox-white);
}

span#hud-find-input,
span#hud-match-count {
  display: block;
  outline: none;
  white-space: nowrap;
  overflow-y: hidden;
}

span#hud-find-input:before {
  content: "/";
  color: var(--gruvbox-yellow);
  margin-right: 1px;
}

span#hud-match-count {
  color: var(--gruvbox-fg-muted);
  font-size: 12px;
  margin-left: auto;
}

span#hud-find-input br {
  display: none;
}

span#hud-find-input * {
  display: inline;
  white-space: nowrap;
}

@media all {
  #hud-body {
    background-color: var(--gruvbox-bg-hard);
  }

  /* This creates a border around the area where you type, which is nice effect on the light color
   * scheme. It's hard to make this effect visible in dark mode, so we don't use it. */
  #hud.hud-find {
    background-color: var(--gruvbox-bg);
    border: 0;
  }
}
